body{
    background-color: white;
    
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 102, 255);
    align-items: center;
    padding: 1;
}
header h1{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: right;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 102, 255);
    border-radius: 0px 20px 20px 0px;
    width: 17%;
}
nav ul{
    margin-top: 30%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
nav ul a{
   height: 50px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   align-items: center;
   text-align: center;
   color: white;
}
nav ul a:hover, nav ul a:active{
    background-color: white;
    color: rgb(0, 102, 255);
    align-items: center;
    padding-top: 26px;
    transition: 0.5s ease-in;
}